.vertical-line {
  width: 1px;
  height: 35px; /* Adjust height as needed */
  background-color: #cdc7c7; /* Color of the line */
}

.search-icon {
  top: 4px;
  left: 10px;
  pointer-events: none;
}

.cursor-p {
  cursor: pointer;
}

.text-orange {
  color: #ffc107;
}
